bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/FirstSample.deps.json
bin/Debug/netcoreapp3.1/FirstSample.dll
bin/Debug/netcoreapp3.1/FirstSample.exe
bin/Debug/netcoreapp3.1/FirstSample.pdb
bin/Debug/netcoreapp3.1/FirstSample.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/FirstSample.runtimeconfig.json
bin/Debug/netcoreapp3.1/FirstSample.Views.dll
bin/Debug/netcoreapp3.1/FirstSample.Views.pdb
bin/Debug/netcoreapp3.1/libman.json
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/NLog.dll
bin/Debug/netcoreapp3.1/NLog.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/NLog.Web.AspNetCore.dll
bin/Debug/netcoreapp3.1/package-lock.json
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
obj/FirstSample.csproj.EntityFrameworkCore.targets
obj/FirstSample.csproj.nuget.dgspec.json
obj/FirstSample.csproj.nuget.g.props
obj/FirstSample.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/FirstSample.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/FirstSample.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/FirstSample.assets.cache
obj/Debug/netcoreapp3.1/FirstSample.csproj.CopyComplete
obj/Debug/netcoreapp3.1/FirstSample.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/FirstSample.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/FirstSample.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/FirstSample.dll
obj/Debug/netcoreapp3.1/FirstSample.exe
obj/Debug/netcoreapp3.1/FirstSample.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/FirstSample.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/FirstSample.pdb
obj/Debug/netcoreapp3.1/FirstSample.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.1/FirstSample.RazorAssemblyInfo.cs
obj/Debug/netcoreapp3.1/FirstSample.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/FirstSample.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/FirstSample.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.1/FirstSample.TagHelpers.input.cache
obj/Debug/netcoreapp3.1/FirstSample.TagHelpers.output.cache
obj/Debug/netcoreapp3.1/FirstSample.Views.dll
obj/Debug/netcoreapp3.1/FirstSample.Views.pdb
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Account/Login.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Account/Register.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Create.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Details.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Edit.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/EmployeeNotFound.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/NotFound.cshtml.g.cs
obj/Debug/netcoreapp3.1/staticwebassets/FirstSample.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/FirstSample.StaticWebAssets.xml
.vscode/launch.json
.vscode/tasks.json
